body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(89deg, rgb(27, 29, 27), rgb(80, 206, 215));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  cursor: pointer;
}
